# ============================
# Laravel
# ============================

/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.backup
.env.local
.env.production
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# ============================
# Android Studio
# ============================

*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.db
*.log

# ============================
# Sistema Operacional
# ============================

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
